<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UD06Actividad02.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <UD06Actividad02.Properties.Settings>
            <setting name="Emisor" serializeAs="String">
                <value>Hombre</value>
            </setting>
            <setting name="ColorFondo" serializeAs="String">
                <value>LightYellow</value>
            </setting>
            <setting name="ColorUsuario" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="ColorBot" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="EndPoint" serializeAs="String">
                <value>https://tema6qna.azurewebsites.net</value>
            </setting>
            <setting name="EndPointKey" serializeAs="String">
                <value>6e57ea50-298a-4764-aa26-28d7667bbf65</value>
            </setting>
            <setting name="KnowledgeBaseId" serializeAs="String">
                <value>fdd50c29-2f97-44eb-9744-745e2caaf418</value>
            </setting>
        </UD06Actividad02.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>